<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
               {{year}} © Tijara. Tous droits réservés.
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                    <i class="ri-shopping-bag-3-fill text-success me-1"></i>
                    <strong class="text-primary">Tijara</strong> — Marketplace Tunisienne
                </div>
            </div>
        </div>
    </div>
</footer>